<div class="page-container">
  <h2>Catégories</h2>

  <div class="card-container">
    <button class="add-button" routerLink="/categories/new" *ngIf="isAdmin">Ajouter</button>

    <table class="table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Description</th>
          <th>Livres</th>
          <th *ngIf="isAdmin">Actions</th> <!-- s'affiche seulement pour admin -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of categories">
          <td>{{ c.nom }}</td>
          <td>{{ c.description }}</td>
          <td>{{ c.livres?.length || 0 }}</td>
          <td>
            <button *ngIf="isAdmin" class="btn-action btn-edit"
                    [routerLink]="['/categories/edit', c.id]">
              Modifier
            </button>

            <button *ngIf="isAdmin" class="btn-action btn-delete"
                    (click)="deleteCategorie(c)">
              Supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
