.app-header {
  width: 100%;
  height: 150px;          /* hauteur du header */
  background-color: #fff; /* ou un gradient / background-image */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.header-logo {
  max-height: 100%;
  max-width: 200px;
}
